.quote-wrapper {
	margin:5px auto;
	position:relative;
	width:70%;
	height:100px;
	border: 1px solid lightgray;
	/*line-height: 100px;*/
}

.quote-text {
	position: absolute;
	margin: 0 auto;
	display: inline-block;
	color: red;
	/*vertical-align: middle;*/
	text-align: center;
}